@import 'src/styles.scss';

.project-container {
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
    box-shadow: 0px 1px 2px #00000099;
}
.project-container>h3 {
    margin: 0
}

.project-content {
    display: flex;
    align-items: center;
}

.project-content>div {
    flex: 1 1 0;
}
.project-content>img {
    max-width: 300px;
    flex: 1 1 0;
}

.link-range {
    display: flex;
    justify-content: center;
}

.link-range>* {
    margin: 0 0.2rem;
}