@import 'src/styles.scss';

.landing-container {
    max-width: 1000px;
    margin: 1rem auto 0;
}
.personal-description {
    display: flex;
    align-items: flex-start;
}

.personal-description>*:last-child {
    padding-left: 0.5rem;
}

.landing-container h1,
.landing-container h2 {
    margin-top: 0;
    font-weight: 100;
}