<div class="landing-container">
    <h1>Christian Budhi</h1>
    <div class="personal-description">
        <img src='https://christian-budhi-hosting.s3.amazonaws.com/portfolio/profile-picture.jpg' alt="profile picture"
            height="160px">
        <div>
            <h2>Full-Stack Developer, ML/NLP Engineer</h2>
            <p>Software Engineer proficient in all aspects of the full tech stack from front-end and back-end
                development to
                database and continuous integration management. Experienced in machine learning and natural language
                processing
                practices in a professional, agile environment. Looking forward to working with a collaborative team to
                come up
                with exciting technology solutions.
            </p>
            <p>
                <strong>Contact: </strong> 
                <span>cjbudhi95@gmail.com</span>
                 • 
                <a href="https://www.linkedin.com/in/christianbudhi/" title="LinkedIn">LinkedIn</a>
                 • 
                <a href="https://github.com/BudhiChristian" title="Github">Github</a>
            </p>
        </div>
    </div>
    <h2>Personal Projects</h2>
    <app-projects></app-projects>
    <h2>Professional Experience</h2>
    <app-professional-experience></app-professional-experience>
    <h2>Education</h2>
    <app-education></app-education>
</div>