@import 'src/styles.scss';

.landing-container {
    max-width: 1000px;
    margin: 1rem auto;
}
.personal-description {
    display: flex;
    align-items: flex-start;
}

.personal-description h2 {
    margin-top: 0;
}

.personal-description>*:last-child {
    padding-left: 0.5rem;
}


a:link {
    color:  mat-color($primary, default);
}

a:visited {
    color:  mat-color($primary, default);
}

.landing-container h1,
.landing-container h2 {
    font-weight: 100;
}